@import "../../../assets/scss/abstracts/mixins";

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 30px);
  padding: 15px;

  @include respond(6) {
    padding: 10px;
    min-height: calc(100vh - 20px);
  }
}

.auth-content {
  min-width: 450px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  @include respond(600) {
    min-width: unset;
    width: 100%;
  }

  @include respond(400) {
    padding: 10px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, .15);
  }

  &__body {
    margin: 15px 0;
  }

  &__logo {
    width: 100px;
    height: auto;
    object-fit: contain;
    margin-right: 15px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 0;

    span {
      font-weight: bold;
    }
  }
}
